<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<form action="127.0.0.1:3000/u" method="post">-->
    <!--<input name="name" type="text" >-->
    <!--<input name="age" type="text" >-->
    <!--<input type="submit">-->
<!--</form>-->

<div id="liujia" onclick="names()">刘佳</div>

<script>
    var name=document.querySelector('#liujia')
    function names() {
        alert('刘佳是sb')
    }



</script>
</body>
</html>