<form action="/users" method="post">
    <input name="name" type="text" value="<%= name %>" >
    <input name="age" type="text" value="<%= age %>">
    <input type="submit">
</form>



<!--<script src="./static/test.js"></script>-->
    `